PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cfc"
REDIS_URL="redis://localhost:6379"
JWT_SECRET=change-me
CORS_ORIGIN=*
HOUSE_WALLET_PRIVATE_KEY=""
TREASURY_PRIVATE_KEY=""
TREASURY_ADDRESS=""
BNB_RPC_ENDPOINT="https://data-seed-prebsc-1-s1.binance.org:8545/"
BSC_RPC_URL="https://data-seed-prebsc-1-s1.binance.org:8545/"
ESCROW_CONTRACT_ADDRESS=""
CFC_TOKEN_ADDRESS=""
ADMIN_WALLET_ADDRESS=""
