-- CreateEnum
CREATE TYPE "CockRarity" AS ENUM ('common', 'uncommon', 'rare', 'epic', 'legendary');

-- CreateEnum
CREATE TYPE "ChickenRarity" AS ENUM ('common', 'uncommon', 'rare', 'epic', 'legendary');

-- CreateEnum
CREATE TYPE "FightStatus" AS ENUM ('QUEUED', 'BETTING', 'FIGHTING', 'FINISHED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "ItemType" AS ENUM ('MEDKIT', 'CAPSULE', 'CUSTOM');

-- CreateEnum
CREATE TYPE "BreedingStatus" AS ENUM ('ACTIVE', 'COMPLETED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "EggStatus" AS ENUM ('FRESH', 'INCUBATING', 'READY_TO_HATCH', 'HATCHED');

-- CreateEnum
CREATE TYPE "SpectatorBetStatus" AS ENUM ('PENDING', 'WON', 'LOST', 'REFUNDED');

-- CreateEnum
CREATE TYPE "WheelSpinResult" AS ENUM ('COCK', 'CHICKEN', 'ITEM', 'NOTHING');

-- CreateEnum
CREATE TYPE "TransactionType" AS ENUM ('WAGER', 'PAYOUT', 'REFERRAL', 'PURCHASE', 'REFUND', 'HOUSE', 'WITHDRAWAL', 'FIGHT_WAGER', 'FIGHT_REFUND', 'FIGHT_PAYOUT', 'SHOP_PURCHASE', 'ROULETTE_SPIN');

-- CreateEnum
CREATE TYPE "TransactionStatus" AS ENUM ('PENDING', 'CONFIRMED', 'FAILED');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "walletAddress" TEXT NOT NULL,
    "username" TEXT,
    "avatarUrl" TEXT,
    "bnbBalance" DECIMAL(18,9) NOT NULL DEFAULT 0,
    "cfcWithdrawn" DECIMAL(18,9) NOT NULL DEFAULT 0,
    "lastCfcWithdrawalAt" TIMESTAMP(3),
    "isAdmin" BOOLEAN NOT NULL DEFAULT false,
    "hasCompletedOnboarding" BOOLEAN NOT NULL DEFAULT false,
    "referredByCode" TEXT,
    "hasUsedFreeSpin" BOOLEAN NOT NULL DEFAULT false,
    "isBanned" BOOLEAN NOT NULL DEFAULT false,
    "banReason" TEXT,
    "lastLogin" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReferralCode" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "ownerWallet" TEXT NOT NULL,
    "ownerUsername" TEXT,
    "discountPercent" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "freeWheelSpins" INTEGER NOT NULL DEFAULT 0,
    "earningsSharePercent" DOUBLE PRECISION NOT NULL DEFAULT 5,
    "totalUses" INTEGER NOT NULL DEFAULT 0,
    "totalEarnedBnb" DECIMAL(18,9) NOT NULL DEFAULT 0,
    "totalWithdrawnBnb" DECIMAL(18,9) NOT NULL DEFAULT 0,
    "lastWithdrawalAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ReferralCode_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReferralJoin" (
    "id" TEXT NOT NULL,
    "referralCodeId" TEXT NOT NULL,
    "joinedUserId" TEXT NOT NULL,
    "joinedWallet" TEXT NOT NULL,
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "earningsPaid" DECIMAL(18,9) NOT NULL DEFAULT 0,

    CONSTRAINT "ReferralJoin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Cock" (
    "id" TEXT NOT NULL,
    "templateId" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "image" TEXT NOT NULL,
    "rarity" "CockRarity" NOT NULL,
    "attack" INTEGER NOT NULL,
    "defence" INTEGER NOT NULL,
    "stamina" INTEGER NOT NULL,
    "speed" INTEGER NOT NULL,
    "health" INTEGER NOT NULL DEFAULT 100,
    "energy" INTEGER NOT NULL DEFAULT 0,
    "maxEnergy" INTEGER NOT NULL DEFAULT 300,
    "lastRestedAt" TIMESTAMP(3),
    "lastRecoveryAt" TIMESTAMP(3),
    "healthUpdatedAt" TIMESTAMP(3),
    "energyUpdatedAt" TIMESTAMP(3),
    "wins" INTEGER NOT NULL DEFAULT 0,
    "losses" INTEGER NOT NULL DEFAULT 0,
    "earningsCfc" DECIMAL(18,9) NOT NULL DEFAULT 0,
    "isBreeding" BOOLEAN NOT NULL DEFAULT false,
    "breedingEndTime" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Cock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Chicken" (
    "id" TEXT NOT NULL,
    "templateId" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "image" TEXT NOT NULL,
    "rarity" "ChickenRarity" NOT NULL,
    "isBreeding" BOOLEAN NOT NULL DEFAULT false,
    "breedingEndTime" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Chicken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Egg" (
    "id" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "image" TEXT NOT NULL,
    "hatchTimeMs" INTEGER NOT NULL,
    "isIncubating" BOOLEAN NOT NULL DEFAULT false,
    "incubationStart" TIMESTAMP(3),
    "parentCockId" TEXT,
    "parentChickenId" TEXT,
    "status" "EggStatus" NOT NULL DEFAULT 'FRESH',
    "readyAt" TIMESTAMP(3),
    "hatchedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Egg_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ItemCatalog" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "type" "ItemType" NOT NULL,
    "priceBnb" DECIMAL(18,9) NOT NULL DEFAULT 0,
    "priceCfc" DECIMAL(18,9) NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "maxPerUser" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ItemCatalog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "InventoryItem" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "itemCatalogId" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "InventoryItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BreedingSession" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "cockId" TEXT NOT NULL,
    "chickenId" TEXT NOT NULL,
    "eggId" TEXT,
    "status" "BreedingStatus" NOT NULL DEFAULT 'ACTIVE',
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completesAt" TIMESTAMP(3) NOT NULL,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BreedingSession_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Fight" (
    "id" TEXT NOT NULL,
    "cock1Id" TEXT NOT NULL,
    "cock2Id" TEXT,
    "winnerCockId" TEXT,
    "wager" DECIMAL(18,9) NOT NULL,
    "status" "FightStatus" NOT NULL,
    "startedAt" TIMESTAMP(3),
    "settledAt" TIMESTAMP(3),
    "rakePaid" DECIMAL(18,9) NOT NULL DEFAULT 0,
    "referralPaid" DECIMAL(18,9) NOT NULL DEFAULT 0,
    "queueId" TEXT,
    "cock1StakeSignature" TEXT,
    "cock2StakeSignature" TEXT,
    "payoutSignature" TEXT,
    "refundSignature" TEXT,
    "refundStatus" TEXT,
    "refundAttempts" INTEGER NOT NULL DEFAULT 0,
    "metadata" JSONB,
    "houseRakeBps" INTEGER NOT NULL DEFAULT 700,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Fight_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FightRound" (
    "id" TEXT NOT NULL,
    "fightId" TEXT NOT NULL,
    "roundNo" INTEGER NOT NULL,
    "winnerCock" TEXT,
    "cock1Health" INTEGER NOT NULL,
    "cock2Health" INTEGER NOT NULL,
    "durationMs" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FightRound_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SpectatorBet" (
    "id" TEXT NOT NULL,
    "fightId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "cockId" TEXT NOT NULL,
    "amount" DECIMAL(18,9) NOT NULL,
    "placedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "odds" DECIMAL(10,4),
    "status" "SpectatorBetStatus" NOT NULL DEFAULT 'PENDING',
    "payoutAmount" DECIMAL(18,9),
    "payoutSignature" TEXT,
    "metadata" JSONB,

    CONSTRAINT "SpectatorBet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WheelSpin" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "resultType" "WheelSpinResult" NOT NULL,
    "resultReferenceId" TEXT,
    "resultRarity" TEXT,
    "costBnb" DECIMAL(18,9) NOT NULL,
    "referralPaid" DECIMAL(18,9) NOT NULL DEFAULT 0,
    "signature" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WheelSpin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Transaction" (
    "id" TEXT NOT NULL,
    "fromUserId" TEXT,
    "toUserId" TEXT,
    "fromWallet" TEXT NOT NULL,
    "toWallet" TEXT,
    "amount" DECIMAL(18,9) NOT NULL,
    "type" "TransactionType" NOT NULL,
    "status" "TransactionStatus" NOT NULL DEFAULT 'PENDING',
    "signature" TEXT,
    "metadata" JSONB,
    "fightId" TEXT,
    "wheelSpinId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "confirmedAt" TIMESTAMP(3),
    "failedAt" TIMESTAMP(3),

    CONSTRAINT "Transaction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppConfig" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "updatedBy" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AppConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AdminAuditLog" (
    "id" TEXT NOT NULL,
    "adminId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "details" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AdminAuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RefreshToken" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "revokedAt" TIMESTAMP(3),

    CONSTRAINT "RefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_walletAddress_key" ON "User"("walletAddress");

-- CreateIndex
CREATE UNIQUE INDEX "ReferralCode_code_key" ON "ReferralCode"("code");

-- CreateIndex
CREATE UNIQUE INDEX "ReferralCode_ownerId_key" ON "ReferralCode"("ownerId");

-- CreateIndex
CREATE INDEX "ReferralJoin_referralCodeId_idx" ON "ReferralJoin"("referralCodeId");

-- CreateIndex
CREATE UNIQUE INDEX "ReferralJoin_referralCodeId_joinedUserId_key" ON "ReferralJoin"("referralCodeId", "joinedUserId");

-- CreateIndex
CREATE INDEX "Cock_ownerId_idx" ON "Cock"("ownerId");

-- CreateIndex
CREATE INDEX "Chicken_ownerId_idx" ON "Chicken"("ownerId");

-- CreateIndex
CREATE INDEX "Egg_ownerId_idx" ON "Egg"("ownerId");

-- CreateIndex
CREATE INDEX "Egg_status_idx" ON "Egg"("status");

-- CreateIndex
CREATE UNIQUE INDEX "ItemCatalog_slug_key" ON "ItemCatalog"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "InventoryItem_userId_itemCatalogId_key" ON "InventoryItem"("userId", "itemCatalogId");

-- CreateIndex
CREATE UNIQUE INDEX "BreedingSession_eggId_key" ON "BreedingSession"("eggId");

-- CreateIndex
CREATE INDEX "BreedingSession_userId_status_idx" ON "BreedingSession"("userId", "status");

-- CreateIndex
CREATE INDEX "BreedingSession_completesAt_idx" ON "BreedingSession"("completesAt");

-- CreateIndex
CREATE UNIQUE INDEX "Fight_queueId_key" ON "Fight"("queueId");

-- CreateIndex
CREATE INDEX "Fight_status_idx" ON "Fight"("status");

-- CreateIndex
CREATE INDEX "Fight_createdAt_idx" ON "Fight"("createdAt");

-- CreateIndex
CREATE INDEX "SpectatorBet_userId_idx" ON "SpectatorBet"("userId");

-- CreateIndex
CREATE INDEX "SpectatorBet_fightId_idx" ON "SpectatorBet"("fightId");

-- CreateIndex
CREATE INDEX "Transaction_fromWallet_idx" ON "Transaction"("fromWallet");

-- CreateIndex
CREATE INDEX "Transaction_toWallet_idx" ON "Transaction"("toWallet");

-- CreateIndex
CREATE INDEX "Transaction_status_idx" ON "Transaction"("status");

-- CreateIndex
CREATE INDEX "Transaction_type_idx" ON "Transaction"("type");

-- CreateIndex
CREATE UNIQUE INDEX "Transaction_signature_key" ON "Transaction"("signature");

-- CreateIndex
CREATE UNIQUE INDEX "AppConfig_key_key" ON "AppConfig"("key");

-- CreateIndex
CREATE INDEX "RefreshToken_userId_idx" ON "RefreshToken"("userId");

-- CreateIndex
CREATE INDEX "RefreshToken_expiresAt_idx" ON "RefreshToken"("expiresAt");

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_referredByCode_fkey" FOREIGN KEY ("referredByCode") REFERENCES "ReferralCode"("code") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReferralCode" ADD CONSTRAINT "ReferralCode_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReferralJoin" ADD CONSTRAINT "ReferralJoin_referralCodeId_fkey" FOREIGN KEY ("referralCodeId") REFERENCES "ReferralCode"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ReferralJoin" ADD CONSTRAINT "ReferralJoin_joinedUserId_fkey" FOREIGN KEY ("joinedUserId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Cock" ADD CONSTRAINT "Cock_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Chicken" ADD CONSTRAINT "Chicken_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Egg" ADD CONSTRAINT "Egg_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryItem" ADD CONSTRAINT "InventoryItem_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryItem" ADD CONSTRAINT "InventoryItem_itemCatalogId_fkey" FOREIGN KEY ("itemCatalogId") REFERENCES "ItemCatalog"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BreedingSession" ADD CONSTRAINT "BreedingSession_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BreedingSession" ADD CONSTRAINT "BreedingSession_cockId_fkey" FOREIGN KEY ("cockId") REFERENCES "Cock"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BreedingSession" ADD CONSTRAINT "BreedingSession_chickenId_fkey" FOREIGN KEY ("chickenId") REFERENCES "Chicken"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BreedingSession" ADD CONSTRAINT "BreedingSession_eggId_fkey" FOREIGN KEY ("eggId") REFERENCES "Egg"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Fight" ADD CONSTRAINT "Fight_cock1Id_fkey" FOREIGN KEY ("cock1Id") REFERENCES "Cock"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Fight" ADD CONSTRAINT "Fight_cock2Id_fkey" FOREIGN KEY ("cock2Id") REFERENCES "Cock"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Fight" ADD CONSTRAINT "Fight_winnerCockId_fkey" FOREIGN KEY ("winnerCockId") REFERENCES "Cock"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FightRound" ADD CONSTRAINT "FightRound_fightId_fkey" FOREIGN KEY ("fightId") REFERENCES "Fight"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SpectatorBet" ADD CONSTRAINT "SpectatorBet_fightId_fkey" FOREIGN KEY ("fightId") REFERENCES "Fight"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SpectatorBet" ADD CONSTRAINT "SpectatorBet_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WheelSpin" ADD CONSTRAINT "WheelSpin_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transaction" ADD CONSTRAINT "Transaction_fromUserId_fkey" FOREIGN KEY ("fromUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transaction" ADD CONSTRAINT "Transaction_toUserId_fkey" FOREIGN KEY ("toUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transaction" ADD CONSTRAINT "Transaction_fightId_fkey" FOREIGN KEY ("fightId") REFERENCES "Fight"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Transaction" ADD CONSTRAINT "Transaction_wheelSpinId_fkey" FOREIGN KEY ("wheelSpinId") REFERENCES "WheelSpin"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RefreshToken" ADD CONSTRAINT "RefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

